.login-page{
    width:100%;
    height:100%;
    padding: 40px;
    background-color: #ffffff;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .login-header{
        display: flex;
        justify-content: space-between;
    }

    .content{
        min-width: 330px;
        height: fit-content;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;

        .error{
            display: flex;
            .MuiSvgIcon-root{
                color:red;
            }
        }


        .form-title{
            align-self: flex-start; 
            margin-bottom: 15px;
            display: block;
        }

        .form-input{
            margin-top: 15px;
            width: 90%;

        }

        .actions{
            margin-top: 30px;
        }
    }
}