.account-page{
    padding: 20px;
    
    .account-card{
        width: 100%;
        height: fit-content;
        padding: 25px 20px 20px;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;

        .info-row{
            margin: 20px 0 0 0;

            &.name{
                font-size: 18px;
                font-weight: 500;
                text-decoration: underline;
            }
        }

        .account-img{
            justify-self: center;
            align-self: center;
            font-size: 60px;
            margin-bottom: 20px;
        }
    }
}